@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  height: 100%;
  width: 35%;
  left: 0;
  top: 0;
}

.sidebar > div {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  color: #fff;
  height: 100%;
  width: 100%;
}

.sidebar h1 {
  margin-bottom: 10px;
  text-align: center;
  margin-top: -30px;
  font-size: 40px;
}

.main-slide {
  transition: transform 0.5s ease-in-out;
  position: absolute;
  height: 100%;
  width: 65%;
  left: 35%;
  top: 0;
}

.main-slide > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

button {
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  border: none;
  color: #aaa;
}

button:hover {
  color: #222;
}

button:focus {
  outline: none;
}

.container .controls button {
  position: absolute;
  z-index: 100;
  left: 35%;
  top: 50%;
}

.container .controls .down-button {
  border-bottom-left-radius: 5px;
  transform: translateX(-100%);
  border-top-left-radius: 5px;
}

.container .controls .up-button {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(-100%);
}
